<section>
  <h1>Get At Me</h1>
  <ul>
      <li><a href="https://twitter.com/danriti">@danriti</a></li>
      <li><a href="https://plus.google.com/117157016751019855433/posts">+danriti</a></li>
      <li><a href="https://github.com/danriti">GitHub/danriti</a></li>
      <li><a href="http://danriti.com">Homepage</a></li>
      <li>
          <a href="http://stackoverflow.com/users/246102/danriti"><img src="http://stackoverflow.com/users/flair/246102.png?theme=clean" width="208" height="58" alt="profile for danriti at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for danriti at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
      </li>
  </ul>
</section>
